.navbar {
  @extend %clearfix;
  .logo {
    float: left;
    clear: both;
    padding: 10px 0;
  }
  .main-menu {
    float: right;
    .menu-item {
      float: left;
      padding: 37px 12px;
      font-size: 14px;
      font-weight: 500;
      text-transform: uppercase;
      position: relative;
      &:hover {
        .sub-menu {
          visibility: visible;
          margin-top: 0px;
        }
      }
    }
    .fa {
      font-size: 12px;
      margin-left: 3px;
    }
  }
  .sub-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;
    min-width: 250px;
    padding: 20px 30px;
    margin-top: 50px;
    border: 1px solid $color-border;
    background: $color-d;
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.18);
    transition: all 0.4s ease;
    visibility: hidden;
  }
  .sub-menu-item {
    text-transform: capitalize;
    border-bottom: 1px solid $color-border;
    padding: 15px 0;
    &:last-child {
      border-bottom: none;
    }
    &:hover {
      .level2 {
        opacity: 1;
      }
    }
  }
  .level2 {
    top: 125px;
    left: 75%;
    opacity: 0;
  }
}
.banner {
  background: url(../image/banner.jpg) no-repeat center center/100% auto;
  padding-top: 36px;
  padding-bottom: 42px;
  margin-bottom: 35px;
  text-align: center;
  line-height: 26px;
  .fa {
    color: $color-c;
  }
  .icon {
    font-size: 9px;
    margin: 0 10px;
  }
  .page-title {
    color: $color-a;
    font-weight: 500;
  }
}
.product-meta {
  .product-name {
    line-height: 15px;
    font-weight: 500;
    margin-bottom: 10px;
  }
  .product-price {
    margin-bottom: 5px;
  }
  .new-price {
    color: $color-a;
  }
  .old-price {
    color: #cbcbcb;
    text-decoration: underline;
  }
}
.fa-star {
  color: #febd49;
}
.main-content {
  float: left;
  width: 75%;
  padding-right: 15px;
  .section-title {
    font-size: 30px;
    margin-bottom: 20px;
    line-height: 33px;
  }
  .banner-category {
    margin-bottom: 20px;
  }
  .description-category {
    font-family: $font-family-a;
    line-height: 26px;
    margin-bottom: 56px;
  }
  .refine-search {
    .section-title {
      margin-bottom: 30px;
    }
    .refine-category {
      @extend %clearfix;
      margin-bottom: 38px;
      .refine-category-item {
        float: left;
        width: 50%;
  
        line-height: 26px;
      }
    }
    .block-filter {
      @extend %clearfix;
      padding: 25px 0;
      margin-bottom: 30px;
      color: $color-g;
      text-transform: uppercase;
      border-top: 1px solid $color-border;
      border-bottom: 1px solid $color-border;
      .block-btn-refine {
        float: left;
        margin-right: 73px;
        button {
          padding: 7px;
          border: 1px solid $color-border;
          &:hover {
            background: $color-a;
            border-color: $color-a;
            color: $color-d;
          }
        }
        button.active {
          background: $color-a;
          border-color: $color-a;
          color: $color-d;
        }
        .grid-view {
          margin: 0 2px;
        }
      }
      .select-group {
        float: left;
        .block-select {
          float: left;
        }
        label {
          padding-top: 5px;
          margin-right: 10px;
          font-weight: 600;
        }
        select {
          width: 125px;
          height: 32px;
          padding-left: 15px;
          border: 1px solid $color-border;
          background: transparent;
          color: $color-c;
        }
        .block-show {
          margin-left: 25px;
        }
      }
      .product-compare {
        float: right;
        padding-top: 10px;
      }
    }
  }
  .list-product {
    @extend %clearfix;
    margin: 0 -15px;
    border-bottom: 1px solid $color-border;
  }
  .product-item {
    float: left;
    width: calc(100%/3);
    position: relative;
    padding: 0 15px;
    margin-bottom: 35px;
    &:hover {
      .action-list {
        bottom: 0px;
        opacity: 1;
      }
    }
    .product-image {
      position: relative;
      margin-bottom: 15px;
      overflow: hidden;
    }
    .product-label {
      height: 20px;
      width: 42px;
      background: $color-a;
      color: $color-d;
      font-size: 11px;
      text-align: center;
      position: absolute;
      top: 10px;
      left: 10px;
      padding: 5px 0
    }
    .action-list {
      @extend %clearfix;
      background-color: rgba(0, 0, 0, 0.5);
      padding: 5px 0;
      position: absolute;
      width: 100%;
      bottom: -30px;
      opacity: 0;
      transition: 0.7s all ease;
      .action-item {
        float: left;
        button {
          width: 30px;
          height: 30px;
          color: $color-d;
        }
        &:first-child {
          margin-left: 65px;
        }
      }
    }
    .product-meta {
      .new-price {
        line-height: 26px;
      }
      .old-price {
        font-size: 12px;
        line-height: 22px;
      }
      .rating {
        margin-bottom: 12px;
      }
    }
    .btn-cart {
      width: 135px;
      height: 32px;
      border: 1px solid rgba(0, 0, 0, 0.1);
      text-transform: uppercase;
      font-weight: 700;
      font-size: 12px;
      color: rgba(0, 0, 0, 0.3);
    }
  }
  .pagination {
    float: right;
    padding: 20px 0;
    margin-bottom: 30px;
  }
}
.block-title {
  font-size: 22px;
  line-height: 24px;
}
.sidebar {
  float: left;
  width: 25%;
  padding-left: 15px;
  .block-sidebar {
    border: 1px solid $color-border;
    border-top: 3px solid $color-border;
    margin-bottom: 30px;
  }
  .block-title {
    padding: 20px 22px;
  }
  .block-category {
    border-top: 3px solid $color-a;
    .block-title {
      margin-bottom: 10px;
    }
  }
  .category-item {
    position: relative;
    >a {
      display: block;
      padding: 12px 22px;
      line-height: 26px;
      border-top: 1px solid $color-border;
      &:hover {
        background: #f1f1f1;
        color: $color-c;
      }
    }
    a.active {
      color: $color-a;
    }
    button {
      position: absolute;
      top: 20px;
      right: 20px;
      font-size: 8px;
      color: $color-c;
    }
  }
  .sub-category {
    padding-bottom: 20px;
    .sub-category-item {
      a {
        display: block;
        color: $color-c;
        padding: 0 35px;
        line-height: 30px;
      }
    }
  }
  .list-group {
    padding: 0 22px;
    .list-title {
      font-size: 16px;
      line-height: 30px;
      color: $color-g;
      font-weight: 500;
      padding: 10px 0;
    }
    .list-group-item {
      label {
        display: block;
        margin-bottom: 5px;
        line-height: 26px;
      }
      input {
        margin-right: 3px;
        vertical-align: -1px;
      }
    }
  }
  .btn-refinesearch {
    padding: 10px 12px;
    border: 1px solid $color-a;
    background: $color-a;
    color: $color-d;
    font-size: 12px;
    margin: 22px 0 22px 22px;
    text-transform: uppercase;
    &:hover {
      color: $color-d;
      background-color: #3b883d;
      border-color: #2f6c30;
    }
  }
  .product-item {
    @extend %clearfix;
    padding: 20px;

  }
  .image {
    float: left;
    width: 35%;
  }
  .product-meta {
    float: left;
    width: 60%;
    padding-left: 20px;
    .new-price {
      font-size: 16px;
      line-height: 30px;
    }
    .old-price {
      font-size: 10px;
      line-height: 18px;
    }
    .rating {
      margin-top: 15px;
    }
  }
}
