<div class="dialog-info">
  <div class="image">
    <div class="product-image">
      <span class="product-label">Sale</span>
      <a href="" class="image">
        <img src="../image/product{{id}}.jpg">
      </a>
    </div>

    <ul class="relative-product-image-list">
      <li class="relative-product-image-item">
        <a href="">
          <img src="../image/product2.jpg">
        </a>
      </li>
      <li class="relative-product-image-item">
        <a href="">
          <img src="../image/product2.jpg">
        </a>
      </li>
      <li class="relative-product-image-item">
        <a href="">
          <img src="../image/product2.jpg">
        </a>
      </li>
    </ul>
  </div>

  <div class="product-meta">
    <h2 class="product-name"></h2>
    <div class="rating">
      <span class="rating-icon">
        <i class="fa fa-star" aria-hidden="true"></i>
      </span>
      <span class="rating-icon">
        <i class="fa fa-star" aria-hidden="true"></i>
      </span>
      <span class="rating-icon">
        <i class="fa fa-star" aria-hidden="true"></i>
      </span>
      <span class="rating-icon">
        <i class="fa fa-star" aria-hidden="true"></i>
      </span>
      <span class="rating-icon">
        <i class="fa fa-star-o" aria-hidden="true"></i>
      </span>
    </div>
    <span class="divide"></span>

  </div>
</div>
