<div class="footer-top">
  <div class="container">
    <div class="newsletter">
      <h3 class="section-title">Newsletter</h3>
      <p class="description">A newsletter is a regularly distributed publication that is generally about one main topic of interest to its subscribers.</p>
      <form class="form-email">
        <input class="form-input"type="text" name="" placeholder="Your email address">
        <button class="form-btn">Subcribe</button>
      </form>
    </div>
  </div>
</div>

<div class="footer-center">
  <div class="container">
    <div class="block-footer-group">
      <div class="block-footer block-call-us">
        <h4 class="block-title">Call Us</h4>
        <ul class="block-list">
          <li class="block-item">
            <i class="fa fa-clock-o" aria-hidden="true"></i>
            Mon-Thu: 11.00 - 23.00 <br>
            Sat: 12.00 - 23.00 <br>
            Sun: 12.00 - 21.00
          </li>
          <li class="block-item">
            <i class="fa fa-bookmark-o" aria-hidden="true"></i>
            60 East 65th Street <br>
            New York City NY 10065
          </li>
          <li class="block-item">
            <i class="fa fa-phone" aria-hidden="true"></i>
            +012 345 678 <br>
            +012 678 912
          </li>
        </ul>
      </div>
      <div class="block-footer block-extra">
        <h4 class="block-title">Extra</h4>
        <ul class="block-list">
          <li class="block-item">
            <a class="block-link" href="">Brands</a>
          </li>
          <li class="block-item">
            <a class="block-link" href="">Gift Certificates</a>
          </li>
          <li class="block-item">
            <a class="block-link" href="">Affiliates</a>
          </li>
          <li class="block-item">
            <a class="block-link" href="">Specials</a>
          </li>
          <li class="block-item">
            <a class="block-link" href="">Site Map</a>
          </li>
        </ul>
      </div>
      <div class="block-footer block-information">
        <h4 class="block-title">Information</h4>
        <ul class="block-list">
          <li class="block-item">
            <a class="block-link" href="">About us</a>
          </li>
          <li class="block-item">
            <a class="block-link" href="">Delivery Information</a>
          </li>
          <li class="block-item">
            <a class="block-link" href="">Privacy Policy</a>
          </li>
          <li class="block-item">
            <a class="block-link" href="">Terms & Conditions</a>
          </li>
          <li class="block-item">
            <a class="block-link" href="">Brands</a>
          </li>
        </ul>
      </div>
      <div class="block-footer block-customer-service">
        <h4 class="block-title">Customer Service</h4>
        <ul class="block-list">
          <li class="block-item">
            <a class="block-link" href="">Contact Us</a>
          </li>
          <li class="block-item">
            <a class="block-link" href="">Returns</a>
          </li>
          <li class="block-item">
            <a class="block-link" href="">Site map</a>
          </li>
          <li class="block-item">
            <a class="block-link" href="">Brands</a>
          </li>
          <li class="block-item">
            <a class="block-link" href="">Gift Certificates</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="social">
      <ul class="social-list">
        <li class="social-item">
          <a class="social-link" href="">
            <i class="fa fa-facebook-square" aria-hidden="true"></i>
          </a>
        </li>
        <li class="social-item">
          <a class="social-link" href="">
            <i class="fa fa-linkedin" aria-hidden="true"></i>
          </a>
        </li>
        <li class="social-item">
          <a class="social-link" href="">
            <i class="fa fa-skype" aria-hidden="true"></i>
          </a>
        </li>
        <li class="social-item">
          <a class="social-link" href="">
            <i class="fa fa-google-plus" aria-hidden="true"></i>
          </a>
        </li>
        <li class="social-item">
          <a class="social-link" href="">
            <i class="fa fa-pinterest" aria-hidden="true"></i>
          </a>
        </li>
        <li class="social-item">
          <a class="social-link" href="">
            <i class="fa fa-twitter" aria-hidden="true"></i>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="footer-bottom">
  <div class="container">
    <div class="coppy-right">
      Copyright 2016 - <a href="">Natural Food</a> - All rights sered. Powered by <a href="">BringThemes.com</a>
    </div>
    <div class="payment">
      <img src="../image/payment.jpg">
    </div>
  </div>
</div>
