<div class="container">
  <div class="block-btn-header">  
    <div class="button-group language">
      <button type="button" class="btn" id="1">
        <span>Language: </span>
        <span class="name"> Eng <i class="fa fa-caret-down" aria-hidden="true"></i></span>
      </button>
      <ul class="dropdown-button" id="dropdown-language">
        <li class="dropdown-item">
          <button type="button">
            <img src="../image/en-gb.jpg">
            English
          </button>
        </li>
        <li class="dropdown-item">
          <button type="button">
            <img src="../image/arabi.jpg">
            Arabic
          </button>
        </li>
      </ul>
    </div>

    <div class="button-group currency">
      <button type="button" class="btn" id="2">
        <span>Currency:</span>
        <span class="name"> US <i class="fa fa-caret-down" aria-hidden="true"></i></span>
      </button>
      <ul class="dropdown-button" id="dropdown-currency">
        <li class="dropdown-item">
          <button type="button">
            <i class="fa fa-eur" aria-hidden="true"></i>
            Euro
          </button>
        </li>
        <li class="dropdown-item">
          <button type="button">
            <i class="fa fa-gbp" aria-hidden="true"></i>
            Pound Sterling
          </button>
        </li>
        <li class="dropdown-item">
          <button type="button">
            <i class="fa fa-usd" aria-hidden="true"></i>
            US Dollar
          </button>
        </li>
      </ul>
    </div>

    <div class="button-group account">
      <button type="button" class="btn" id="3">
        <span>My Account <i class="fa fa-caret-down" aria-hidden="true"></i></span>   
      </button>
      <ul class="dropdown-button" id="dropdown-account">
        <li class="dropdown-item">
          <button type="button">
            <i class="fa fa-key" aria-hidden="true"></i>
            Register
          </button>
        </li>
        <li class="dropdown-item">
          <button type="button">
            <i class="fa fa-unlock-alt" aria-hidden="true"></i>
            Login
          </button>
        </li>
        <li class="dropdown-item">
          <button type="button">
            <i class="fa fa-user" aria-hidden="true"></i>
            My Account
          </button>
        </li>
        <li class="dropdown-item">
          <button type="button">
            <i class="fa fa-heart" aria-hidden="true"></i>
            Wish list (0)
          </button>
        </li>
      </ul>
    </div>
  </div>

  <a class="cart" href="/Users/mba0126/Project/Breakfast-Foods/BreakfastFoods/template/cart.html">
    <i class="icon fa fa-shopping-cart" aria-hidden="true"></i>
    <i class="fa fa-caret-down" aria-hidden="true"></i>
    <p class="cart-total"><span class="js-count">0</span> item(s) - $<span class="js-total">0.00</span></p>
  </a>

  <form class="form-search">
    <input class="form-input" type="text" name="input-search" placeholder="Search">
    <button class="form-button">
      <i class="fa fa-search" aria-hidden="true"></i>
    </button>
  </form>
</div>
