<div class="container">
  <a class="logo" href="/Users/mba0126/Project/Breakfast-Foods/BreakfastFoods/template/index.html">
    <img class="logo" src="../image/logo_theme.png">
  </a>

  <ul class="main-menu">
    <li class="menu-item">
      <a href="/Users/mba0126/Project/Breakfast-Foods/BreakfastFoods/template/index.html">
       <span class="menu-title">Home</span>
      </a>
    </li>
    <li class="menu-item">
      <a href="">
        <span class="menu-title">Shop</span>
      </a>
    </li>
    <li class="menu-item">
      <a href="">
        <span class="menu-title">pages<i class="fa fa-caret-down" aria-hidden="true"></i></span>  
      </a>
    </li>
    <li class="menu-item">
      <a href="">
        <span class="menu-title">new arrival<i class="fa fa-caret-down" aria-hidden="true"></i></span>
      </a>
      <ul class="sub-menu level1">
        <li class="sub-menu-item">
          <a href="">everyday fashion</a>
        </li>
        <li class="sub-menu-item">
          <a href="">Modern Classics</a>
        </li>
        <li class="sub-menu-item">
          <a href="">Party</a>
          <i class="fa fa-caret-down" aria-hidden="true"></i>
          <ul class="sub-menu level2">
            <li class="sub-menu-item">
              <a href="">Lime Pullover</a>
            </li>
            <li class="sub-menu-item">
              <a href="">Cherry Dress</a>
            </li>
          </ul>
        </li>
        <li class="sub-menu-item">
          <a href="">divided</a>
        </li>
        <li class="sub-menu-item">
          <a href="">accessories</a>
        </li>
      </ul>
    </li>
    <li class="menu-item">
      <a href="">
        <span class="menu-title">blog</span>
      </a>
    </li>
    <li class="menu-item">
      <a href="">
        <span class="menu-title">on sale</span>
      </a>
    </li>
    <li class="menu-item">
      <a href="">
        <span class="menu-title">contact us</span>
      </a>
    </li>
  </ul>
</div>