<div class="block-sidebar block-category">
  <h4 class="block-title">Categories</h4>
  <ul class="category-list">
    <li class="category-item">
      <a href="">Snack foods (16)</a></li>
    <li class="category-item">
      <a href="">Bakery (9)</a>
    </li>
    <li class="category-item">
      <a href="">Baverages (11)</a>
    </li>
    <li class="category-item">
      <a href="">Cookie supplies (9)</a>
    </li>
    <li class="category-item">
      <a href="">Baking supplies (9)</a>
    </li>
    <li class="category-item">
      <a href="" class="active">Breakfast food (12)</a>
      <button type="button" id="accordion">
        <i class="fa fa-minus" aria-hidden="true"></i>
      </button>
      <ul class="sub-category">
        <li class="sub-category-item">
          <a href="">Cherry Dress (1)</a>
        </li>
        <li class="sub-category-item">
          <a href="">Divided (5)</a>
        </li>
      </ul>
    </li>
    <li class="category-item">
      <a href="">Meal essentials</a>
    </li>
  </ul>
</div>

<div class="block-sidebar">
  <h4 class="block-title">Refine Search</h4>
  <div class="list-group">
    <h5 class="list-title">Price</h5>
    <div class="list-group-item">
      <label>
        <input type="checkbox" name="">
        $35-$75 (7)
      </label>
      <label>
        <input type="checkbox" name="">
        $75-$125 (7)
      </label>
      <label>
        <input type="checkbox" name="">
         $125-$225 (7)
      </label>
    </div>
  </div>
  <div class="list-group">
    <h5 class="list-title">Color</h5>
    <div class="list-group-item">
      <label>
        <input type="checkbox" name="">
        Black (6)
      </label>
      <label>
        <input type="checkbox" name="">
        White (4)
      </label>
      <label>
        <input type="checkbox" name="">
        Blue (5)
      </label>
      <label>
        <input type="checkbox" name="">
        Red (6)
      </label>
      <label>
        <input type="checkbox" name="">
        Yellow (6)
      </label>
    </div>
  </div>
  <div class="list-group">
    <h5 class="list-title">Size</h5>
    <div class="list-group-item">
      <label>
        <input type="checkbox" name="">
        XS (6)
      </label>
      <label>
        <input type="checkbox" name="">
        S (6)
      </label>
      <label>
        <input type="checkbox" name="">
        M (6)
      </label>
      <label>
        <input type="checkbox" name="">
        XL (6)
      </label>
      <label>
        <input type="checkbox" name="">
        XXL (6)
      </label>
    </div>
  </div>
  <button type="button" class="btn-refinesearch">Refine search</button>
</div>

<div class="block-sidebar">
  <h4 class="block-title">Specials</h4>
  <div class="product-item">
    <div class="image">
      <a href="">
        <img src="../image/thumbnail_1.jpg">
      </a>
    </div>
    <div class="product-meta">
      <h6 class="product-name">
        <a href="">Asus - 15.6 Laptop</a>
      </h6>
      <div class="product-price">
        <span class="new-price">$20.00</span>
        <span class="old-price">$122.00</span>
      </div>
      <div class="rating">
        <span class="rating-icon">
          <i class="fa fa-star" aria-hidden="true"></i>
        </span>
        <span class="rating-icon">
          <i class="fa fa-star" aria-hidden="true"></i>
        </span>
        <span class="rating-icon">
          <i class="fa fa-star" aria-hidden="true"></i>
        </span>
        <span class="rating-icon">
          <i class="fa fa-star" aria-hidden="true"></i>
        </span>
        <span class="rating-icon">
          <i class="fa fa-star-o" aria-hidden="true"></i>
        </span>
      </div>
    </div>
  </div>
  <div class="product-item">
    <div class="image">
      <a href="">
        <img src="../image/thumbnail_2.jpg">
      </a>
    </div>
    <div class="product-meta">
      <h6 class="product-name">
        <a href="">Bar - Electra</a>
      </h6>
      <div class="product-price">
        <span class="new-price">$20.00</span>
        <span class="old-price">$122.00</span>
      </div>
      <div class="rating">
        <span class="rating-icon">
          <i class="fa fa-star" aria-hidden="true"></i>
        </span>
        <span class="rating-icon">
          <i class="fa fa-star" aria-hidden="true"></i>
        </span>
        <span class="rating-icon">
          <i class="fa fa-star" aria-hidden="true"></i>
        </span>
        <span class="rating-icon">
          <i class="fa fa-star" aria-hidden="true"></i>
        </span>
        <span class="rating-icon">
          <i class="fa fa-star-o" aria-hidden="true"></i>
        </span>
      </div>
    </div>
  </div>
  <div class="product-item">
    <div class="image">
      <a href="">
        <img src="../image/thumbnail_3.jpg">
      </a>
    </div>
    <div class="product-meta">
      <h6 class="product-name">
        <a href="">Chairs pink for home</a>
      </h6>
      <div class="product-price">
        <span class="new-price">$20.00</span>
        <span class="old-price">$122.00</span>
      </div>
      <div class="rating">
        <span class="rating-icon">
          <i class="fa fa-star" aria-hidden="true"></i>
        </span>
        <span class="rating-icon">
          <i class="fa fa-star" aria-hidden="true"></i>
        </span>
        <span class="rating-icon">
          <i class="fa fa-star" aria-hidden="true"></i>
        </span>
        <span class="rating-icon">
          <i class="fa fa-star" aria-hidden="true"></i>
        </span>
        <span class="rating-icon">
          <i class="fa fa-star" aria-hidden="true"></i>
        </span>
      </div>
    </div>
  </div>
  <div class="product-item">
    <div class="image">
      <a href="">
        <img src="../image/thumbnail_4.jpg">
      </a>
    </div>
    <div class="product-meta">
      <h6 class="product-name">
        <a href="">Dell Inspiron 20 3059 19 5</a>
      </h6>
      <div class="product-price">
        <span class="new-price">$20.00</span>
        <span class="old-price">$122.00</span>
      </div>
      <div class="rating">
        <span class="rating-icon">
          <i class="fa fa-star" aria-hidden="true"></i>
        </span>
        <span class="rating-icon">
          <i class="fa fa-star" aria-hidden="true"></i>
        </span>
        <span class="rating-icon">
          <i class="fa fa-star" aria-hidden="true"></i>
        </span>
        <span class="rating-icon">
          <i class="fa fa-star" aria-hidden="true"></i>
        </span>
        <span class="rating-icon">
          <i class="fa fa-star" aria-hidden="true"></i>
        </span>
      </div>
    </div>
  </div>
</div>
