.header {
  @extend %clearfix;
  max-height: 47px;
  background: $color-e;
  font-size: 12px;
}
.block-btn-header {
  @extend %clearfix;
  float: left;
  font-family: $font-family-a;
  .button-group {
    float: left;
    margin-right: 16px;
    position: relative;
    padding: 15px 0;
    >button {
      color: $color-d;
      line-height: 21px;
    }
    .name, .fa {
      color: $color-a;
    }
  }
  .dropdown-button {
    min-width: 185px;
    position: absolute;
    z-index: 1;
    top: 47px;
    left: 0;
    background: $color-d;
    padding: 18px 25px;
    border: 1px solid $color-border;
    border-top: 2px solid $color-a;
    visibility: hidden;
    .dropdown-item {
      line-height: 14px;
      padding: 10px 0;
      font-size: 14px;
      text-transform: capitalize;
      .fa {
        color: $color-c;
      }
      button {
        color: $color-c;
      }
    }
  }
  .account {
    .dropdown-item {
      font-size: 13px;
      line-height: 13px;
    }  
  }
}
.form-search {
  float: right;
  margin-right: 20px;
  position: relative;
  input {
    height: 45px;
    width: 280px;
    border: none;
    color: $color-c;
    background: rgba(0, 0, 0, 0.2);
    padding-left: 20px;
  }
  button {
    position: absolute;
    top: 0;
    right: 0;
    height: 45px;
    width: 45px;
    font-size: 13px;
    color: $color-d;
  }
}
.cart {
  float: right;
  padding: 12px 0;
  button {
    color: $color-d;
    font-weight: 500;
    line-height: 22px;
    .icon {
      color: $color-a;
      margin-right: 10px;
      font-size: 16px;
    }
  }
}
