@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700');
@import url('https://fonts.googleapis.com/css?family=Leckerli+One');
$font-family-a: 'Poppins', sans-serif;
$font-family-b: 'Leckerli One', sans-serif;
$font-awesome: "FontAwesome";

$color-a: #60BA62;
$color-b: #162119;
$color-c: #999999;
$color-d: #fff;
$color-e: #363d43;
$color-f: #1a1a1a;
$color-g: #000;
$color-h: #333;
$color-old-price: #cbcbcb;
$color-border: #e1e1e1;